---
permalink: /404.html
---
{% include head.html %}

<section class="banner-area relative" style="background: gray">
    <div class="overlay-bg overlay"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content title text-center col-lg-12 col-md-12">
                <h1 class="text-uppercase">
                    404
                </h1>
                <p class="pb-20 text-white">
                    File not found.
                </p>
                <p class="pb-20 text-white">
                    The site configured at this address does not contain the requested file.
                </p>
                <a href="https://samtelecom.ca" class="primary-btn2 header-btn text-uppercase">Return to the main page.</a>

            </div>

        </div>
    </div>
</section>

<!-- End footer Area -->
{% include foot.html %}
