---
ref: index
lang: en-fr
---

{% include head.html %}

<script>
    window.location.href = './en/iptv-home';
</script>

<section class="banner-area relative" id="home">
    <div class="overlay-bg overlay"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-6 col-md-12">
                <h1 class="text-uppercase">
                    SAM TELECOM <br>
                    IPTV SUBSCRIPTION <br>
                    OPENING SOON!
                </h1>
                <p class="pb-20 text-white">
                    The website is under construction.
                </p>
                <!-- <a href="#" class="primary-btn2 header-btn text-uppercase">Get a Quote</a> -->
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="../assets/img/header-img.png" alt="">
            </div>
        </div>
    </div>
</section>

<!-- End footer Area -->
{% include foot.html %}