<section class="sample-text-area" style="padding-bottom: 30px !important">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-30 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10 mt-20">About The Subscription Form</h1>
          <p>Explanation of the subscription process and description of the form fields.</p>
        </div>
      </div>
    </div>
    <h3 class="text-heading">What's after submitting the IPTV Subscription Form?</h3>
    <p class="sample-text">
      If the <a href="./iptv-subscription" target="_blank">IPTV subscription form</a> is submitted succesfully, our support
      team will contact the submitter as soon as possible within 24 hours.
    </p>
  </div>
</section>

<div class="whole-wrap">
  <div class="container">
    <div class="section-top-border" style="padding-bottom: 30px !important; padding-top: 30px !important">
      <h3 class="mb-30">Payment Method</h3>
      <div class="row">
        <div class="col-md-3">
          <img src="../assets/img/elements/paymentMethod.jpg" title="Payment Method"
            alt="payement-method-iptv-subscription" class="img-fluid">
        </div>
        <div class="col-md-9 mt-sm-20">
          <p>
              When you choose the payment method in the <a href="./iptv-subscription" target="_blank">subscription form</a>,
              you won't pay anything immediately. You'll be informed on how to transfer the money in case you chose to subscribe.
              We start by giving you a free 24 hours subscription to test the quality of our channels before purchase.<br>
              <b>You have two payment methods:</b><br>
              - Through a PayPal account anywhere in the world.<br>
              - Through an e-transfer Interac only in Canada.<br>
              Both methods use the same E-mail address : <strong>samtelecom001@gmail.com</strong><br>
              <b>PS :</b><br>
              - E-transfer interac can be done without the security question.<br>
              - <a href="https://www.paypal.com/ca/webapps/mpp/account-selection" target="_blank">Sign up</a> a personal PayPal account for free if you don't already have one.<br>
            </p>
        </div>
      </div>
    </div>

    <div class="section-top-border" style="padding-bottom: 30px !important; padding-top: 30px !important">
      <h3 class="mb-30">What if you don't have a box?</h3>
      <div class="row">
        <div class="col-md-3">
          <img src="../assets/img/elements/android-logo.PNG" title="Android device"
            alt="payement-method-iptv-subscription" class="img-fluid">
        </div>
        <div class="col-md-9 mt-sm-20">
          <p>
            There are lots of customers who don't know about IPTV service and how to get channels on their TV.
            After assessing the quality and the price, we found that the best option is to buy an <strong>android box</strong>.
            All types of android boxes work well with our server. You can buy one easily on <a href="https://amazon.ca" target="_blank">Amazon</a>.<br>
            Visit our <a href="./iptv-configurations" target="_blank">configurations page</a> to know how to configure the box.
          </p>
        </div>
      </div>
    </div>

    <div class="section-top-border" style="padding-top: 30px !important">
      <h3 class="mb-30">Description Of The Fields</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">Personal Information</h4>
            <p>The purpose of requesting personal information is to distinguish between our customers and not to make
              mistakes.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">Device</h4>
            <p>
              There are many ways to get IPTV service on your device and it's different between each one.
              So we need to know which device you'll be streaming our services on to give you the best assistance.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">MAC Address</h4>
            <p>
              The MAC of a "Mag Box" or "OTT IPTV STB" application always starts with: 00:1A:79:... .<br>
              The MAC of "Smart IPTV" application is random letters and numbers.<br>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">Streaming Line</h4>
            <p>The streaming line is a m3u URL generated by our server. It's a different way to connect certain devices.
              The m3u URL can also be in the form of an Xtream Codes API account.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">Subscription Period</h4>
            <p>After studying the best price we can offer to you, we decided as a team to give an option to
              subscribe with us for a period of 3 months, 6 months, 12 months or 24 months. The default period of a
              subscription is 24 hours for free!</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>