<section class="sample-text-area" style="padding-bottom: 30px !important">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-30 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">About The Subscription Form</h1>
          <p>Explanation of the subscription process and description of the form fields.</p>
        </div>
      </div>
    </div>
    <h3 class="text-heading">What after submitting the IPTV Subscription Form?</h3>
    <p class="sample-text">
      If the <a href="./iptv-about-subscription.html">IPTV subscription form</a> is submitted succesfully, our support
      team will contact the submitter as soon as possible in 24 hours.
      We always help the customers to get the channels they want depending on the information given by the <a
        href="./iptv-about-subscription.html">IPTV subscription form</a>.
    </p>
  </div>
</section>

<div class="whole-wrap">
  <div class="container">
    <div class="section-top-border" style="padding-bottom: 30px !important; padding-top: 30px !important">
      <h3 class="mb-30">Payment Method</h3>
      <div class="row">
        <div class="col-md-3">
          <img src="../assets/img/elements/paymentMethod.jpg" title="Payment Method"
            alt="payement-method-iptv-subscription" class="img-fluid">
        </div>
        <div class="col-md-9 mt-sm-20">
          <p>
              When the customers choose the payment method,
              they will not pay anything immediately.
              It's just a way of informing the customers how they can send us money if they would like to subscribe with us.
              We always start giving the customer a free test for 24 hours before purchasing a subscription.<br>
              <b>You have two payment methods:</b><br>
              - Through a PayPal account from anywhere in the world.<br>
              - Through an e-transfer Interac from only Canada.<br>
              Both of methods use the same E-mail address : <strong>samtelecom001@gmail.com</strong><br>
              <b>Note :</b><br>
              - E-transfer interac can be done without the security question.<br>
              - <a href="https://www.paypal.com/ca/webapps/mpp/account-selection" target="_blank">Sign up</a> a personal PayPal account for free if you don't already have one.<br>
              - PayPal transaction fees are included in the subscription price.
            </p>
        </div>
      </div>
    </div>

    <div class="section-top-border" style="padding-bottom: 30px !important; padding-top: 30px !important">
      <h3 class="mb-30">What if you don't have a box ?</h3>
      <div class="row">
        <div class="col-md-3">
          <img src="../assets/img/elements/android-logo.PNG" title="Android device"
            alt="payement-method-iptv-subscription" class="img-fluid">
        </div>
        <div class="col-md-9 mt-sm-20">
          <p>
            There are lots of customers who don't know about IPTV service and how to get channels on their TV.
            There are many ways to do it, but after studying the quality and the price side, we saw that the best choice is to buy an <strong>android box</strong>.
            All types of android boxes work well with our server. You can buy one easily on <a href="https://amazon.ca">Amazon</a>.
            Finally, you visit our <a href="./iptv-tutorials.html" >tutorials</a> page to know how to configure the box.
          </p>
        </div>
      </div>
    </div>

    <div class="section-top-border" style="padding-top: 30px !important">
      <h3 class="mb-30">Description Of The Fields</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">Personal Information</h4>
            <p>The purpose of requesting personal information is to distinguish between our customers and not to make
              mistakes.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">Device</h4>
            <p>There are many manners to get the IPTV service on your device and it's different between each one. So we
              always need to know on which device the customer want try our IPTV service to give him the best
              assistance.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">MAC Address</h4>
            <p>A MAC address is a code that defines certain devices and applications. We usually use it to connect it to our IPTV server.
              For a device as "Mag Box" and an application as "Stb Emu Pro" or "OTT IPTV STB", their MAC address alway start by 00:1A:79:... .
              Otherwise, it's a code that contains random letters and numbers.
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">Streaming Line</h4>
            <p>The streaming line is a m3u URL generated by our server. It's a different way to connect certain devices.
              The m3u URL can also be in the form of an Xtream Codes API account.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="single-defination">
            <h4 class="mb-20">Subscription Period</h4>
            <p>After studying the best price we can offer to the customers, we decided as a team to give an option to
              subscribe with us for a period of 3 months, 6 months, 12 months or 24 months. The default period of a
              subscription is 24 hours for free!</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>