
{% assign category = include.categoryName | strip %}
<button class="collapsible">{{ category }}</button>

{% case category %}
    {% when 'France' %}
        <div class="content">
            {% for category in site.data %}
                {% assign cat = category[1].France %}
                {% for channels in cat %}
                    {{ channels }}<br>
                {% endfor %}
            {% endfor %}
        </div>
    {% when 'Albania' %}
        <div class="content">
            {% for category in site.data %}
                {% assign cat = category[1].Albania %}
                {% for channels in cat %}
                        <p>{{ channels }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% when 'Arab' %}
        <div class="content">
            {% for category in site.data %}
                {% assign cat = category[1].Arab %}
                {% for channels in cat %}
                    <p>{{ channels }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% when 'Turk' %}
        <div class="content">
            {% for category in site.data %}
                {% assign cat = category[1].Turk %}
                {% for channels in cat %}
                        <p>{{ channels }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% else %}
        <div class="content">
            {% for category in site.data %}
                {% assign cat = category[1].Turk %}
                {% for channels in cat %}
                        <p>It will be updated in few days!</p>
                {% endfor %}
            {% endfor %}
        </div>
{% endcase %}



