<section class="contact-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-30 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">List Of Channels</h1>
                    <p>More than 6000 channels worlwide.</p>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-lg-6">
            {% for channelsCategories in site.data %}
                {% assign categories=channelsCategories[1] %}
                {% for channelsCategory in categories %}
                    {% capture categoryName %}
                        {{ channelsCategory[0] }}
                    {% endcapture %}

                    {% include channelsCategory.html categoryName = categoryName %}

                {% endfor %}
            {% endfor %}
        </div>
    </div>

    </div>
</section>

           
