<section class="contact-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-30 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Devices Configurations</h1>
          <p>There are many ways to get IPTV service, herein you will learn the best way to configure your device according to our server.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <button class="collapsible">Android Box</button>
        <div class="content">
          <h3 class="mb-15 mt-15">Download OTT IPTV STB Application</h3>
          <p>
            <ol class="ordered-list">
              <li><span>Open this website page in a browser on your android box. <strong>(Google Chrome Recommended)</strong></span>
              <li><span><a href="http://up.magnum.la/Android/IPTV-OTT-STALKER-V6.apk">Click here</a> and the application will be automatically downloaded on your box.</span></li>
              <li><span>Open the application and send to our support team the <a href="./iptv-about-subscription#aboutMac">"MAC Address"</a> displayed on the screen.</span></li>
              <li><span>Our support team will contact you within 24 hours.</span></li>
            </ol>
          </p>
        </div>
        <button class="collapsible">Fire Stick</button>
        <div class="content">
          <h3 class="mb-15 mt-15">OTT IPTV STB Application</h3>
          <p>
            <ol class="ordered-list">
              <li><span>Download the application on your fire stick.</span>
                <ol class="ordered-list-alpha">
                  <li>
                    <span>Copy and paste the following link into the "Downloader" application existed in fire stick store.<br>
                      <b>http://up.magnum.la/Android/IPTV-OTT-STALKER-V6.apk</b><br>
                      <strong>PS:</strong> There is a difference between capital letters and small letters.</span>
                  </li>
                  <li><span>Press OK. (The application will be downloaded automatically)</span>
                </ol>
              <li><span>Open the application and send to our support team the <a href="./iptv-about-subscription#aboutMac">"MAC Address"</a> displayed on the screen.</span></li>
              <li><span>Our support team will contact you within 24 hours.</span></li>
            </ol>
          </p>
        </div>
        <button class="collapsible">Mag Box</button>
        <div class="content">
          <p>
            <ol class="ordered-list">
              <li><span>Send to our support team the <a href="./iptv-about-subscription#aboutMac">"MAC Address"</a> of your MAG
                  BOX.</span></li>
              <li><span>Our support team will contact you within 24 hours.</span></li>
            </ol>
          </p>
        </div>
        <button class="collapsible">Smart TV - Samsung / LG</button>
        <div class="content">
          <h3 class="mb-15 mt-15">Smart IPTV Application</h3>
          <p>
            <ol class="ordered-list">
              <li><span>Download the application on your smart TV from your TV store.</span></li>
              <li><span>Open the application.</span></li>
              <ol class="ordered-list-alpha">
                <li><span>Send to our support team the <a href="./iptv-about-subscription#aboutMac">"MAC Address"</a> displayed
                    on the screen.</span></li>
              </ol>
              <li><span>Our support team will contact you within 24 hours.</span></li>
            </ol>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <button class="collapsible">PC Windows</button>
        <div class="content">
          <h3 class="mb-15 mt-15">VLC Media Player</h3>
          <p>
            <ol class="ordered-list">
              <li><span>Download VLC media player on your windows device.</span>
              <li><span>Open the software.</span></li>
              <ol class="ordered-list-alpha">
                <li><span>Click on Media in top left corner.</span></li>
                <li><span>Click on "Stream".</span></li>
                <li><span>Click on "Network".</span></li>
                <li><span>Add the m3u link. (Given by our support team)</span></li>
                <li><span>Click on "Play".</span></li>
              </ol>
              </li>
            </ol>
          </p>
        </div>
        <button class="collapsible">All Apple Devices</button>
        <div class="content">
          <h3 class="mb-15 mt-15">IPTV - Smarters Player Application</h3>
          <p>
            <ol class="ordered-list">
              <li><span>Download the application from App Store.</span>
              <li><span>Open the application.</span></li>
              <ol class="ordered-list-alpha">
                <li><span>Add the username, the password and the server name. (Given by our support team)</span></li>
              </ol>
              </li>
            </ol>
          </p>
        </div>
        <button class="collapsible">Android Phone or Tablet</button>
        <div class="content">
          <h3 class="mb-15 mt-15">IPTV - Smarters Pro Application</h3>
          <p>
            <ol class="ordered-list">
              <li><span>Download the application from play store.</span>
              <li><span>Open the application.</span></li>
              <ol class="ordered-list-alpha">
                <li><span>Choose "Load Your Playlist or File/URL"</span></li>
                <li><span>Add the m3u link. (Given by our support team)</span></li>
              </ol>
              </li>
            </ol>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>