<!-- start contact Area -->
<section class="contact-area section-gap" id="contact">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-30 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Contact Us</h1>
          <p>Feel free to reach us for any reason.</p>
        </div>
      </div>
    </div>

    <div>
      <!-- <form class="form-area" id="myForm" action="https://samtelecom.ca/" method="POST"
        class="contact-form text-right" data-form-title="nasser ajam"> -->
        <form class="form-area contact-form text-right" action="https://formspree.io/samtelecom001@gmail.com" method="POST">
          <!-- <input type="hidden" name="email" data-form-email="true"
          value="GjZVfhlONJpMUIkwDGqbmVSv3ibE50zxzZDCiB8qFrTQIwg8KKScWkTnPONFOIg4fzR5sUc0nPuETIXG1gWrwo1agsour7PlU4JJsiheYcpNpL5eU5I2beJIombbtqqQ"> -->
        <div class="row">
          <div class="col-lg-12 form-group">
            <div hidden="hidden" data-form-alert="" class="alert alert-success">Form submitted successfully.
              Thank you! We will contact you within 24 hours!</div>
            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger">Form submitted failed!</div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 form-group">

            <div>
              <input id="customerName" name="firstName" placeholder="Enter your name"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'"
                class="common-input mb-20 form-control" required="" type="text">
            </div>

            <div>
              <input name="email" placeholder="Enter email address"
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required=""
                type="email">
            </div>

            <div>
              <input name="subject" placeholder="Enter your subject"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your subject'"
                class="common-input mb-20 form-control" required="" type="text">
            </div>
          </div>
          <div class="col-lg-6 form-group">
            <textarea class="common-textarea mt-10 form-control" name="message"
              placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
              required=""></textarea>
            <button class="primary-btn mt-20" type="submit">Send Message<span
                class="lnr lnr-arrow-right"></span></button>
            <div class="alert-msg"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- end contact Area -->