<!-- start footer Area -->
<footer class="footer-area ">
  <div class="container">
    <div class="row">
      <div class="col-lg-4  col-md-12">
        <div class="single-footer-widget">
          <h6>FAQ</h6>
          <ul class="footer-nav">
            <li><a href="#">Terms Of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Refund Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-12">
        <div class="single-footer-widget">
          <h6>Contact</h6>
          <ul class="footer-nav">
            <li>E-mail: samtelecom001@gmail.com</li>
            <li>Cell: +1 (514) 621-4418</li>
            <li>Address: Montreal Canada</li>
            <li><a href="./iptv-contact-us.html" target="_blank">Contact Us Form</a></li>
            <li><a href="https://www.facebook.com/samtelecom.ca/" target="_blank">Facebook Messenger</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="single-footer-widget">
          <h6>Payment Methods</h6>
          <p>
            <a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works"
              onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
              <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_SbyPP_mc_vs_dc_ae.jpg" border="0"
                alt="PayPal Acceptance Mark">
            </a>
          </p>
          <ul class="footer-nav">
            <li><a href="./iptv-about-subscription" target="_blank">E-transfer interac</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row footer-bottom d-flex justify-content-between">
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
      </p>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <div class="col-lg-4 col-sm-12 footer-social">
        <a href="https://www.facebook.com/samtelecom.ca/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- End footer Area -->