<footer class="footer-area pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-4  col-md-12">
        <div class="single-footer-widget">
          <h6>Contact</h6>
          <ul class="footer-nav">
            <li>samtelecom001@gmail.com</li>
            <li>+1 (514) 621-4418</li>
            <li>Montreal Canada</li>
            <li><a href="./iptv-contact-us" target="_blank">Contact Us Form</a></li>
            <li><a href="https://m.me/SamTelecomIPTV" target="_blank">Facebook Messenger</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-12">
        <div class="single-footer-widget">
          <h6>Services</h6>
          <ul class="footer-nav">
            <li><a href="./iptv-amazon-devices">Amazon IPTV Devices</a></li>
            <li><a href="./iptv-configurations">Devices Configurations</a></li>
            <li><a href="./iptv-channels">Channels list</a></li>
            <li><a href="./iptv-about-subscription">E-transfer interac</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-12">
        <div class="single-footer-widget">
          <h6 class="mb-20">Powered By</h6>
          <ul>
            <li>
              <a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works"
                onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img
                  src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_payments_by_pp_2line.png" border="0"
                  alt="Payments by PayPal"></a>
              <div style="text-align:center"><a href="https://www.paypal.com/webapps/mpp/how-paypal-works"></a><br>
            </li>
            <li>
              <iframe
                src="//rcm-na.amazon-adsystem.com/e/cm?o=15&p=40&l=ur1&category=amazonhomepage&f=ifr&linkID=cd28fe04a7547e1c726f2751bd3b3af3&t=samtelecom001-20&tracking_id=samtelecom001-20"
                width="120" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;"
                frameborder="0"></iframe>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row footer-bottom d-flex justify-content-between">
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
          class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
      </p>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

      <div class="col-lg-4 col-sm-12 footer-social">
        <a href="https://www.facebook.com/SamTelecomIPTV/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>