<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142944278-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-142944278-2');
  </script>
  <!-- Favicon-->
  <link rel="shortcut icon" href="../assets/img/logo.png">
  <!-- Author Meta -->
  <meta name="author" content="SamTelecom">
  <!-- Meta Description -->
  <meta name="description"
  content="Over 6000 channels and 4000 movies, TV Shows & VOD in HD & FHD. Our IPTV server support all devices(Android box, Mag Box, Apple, Windows PC, fire stick, Samsung/LG etc.).
           We start by giving you a free 24 hours subscription to test the quality of our channels before purchase. Fast and remote configuration of your device for free.
           Currently we have customers from (Montreal - Toronto - Ottawa) Canada - USA - France - Arab - Africa and Asian countries.
           We have two payments options: PayPal and E-transfer Interac.">
  <!-- Meta Keyword -->
  <meta name="keywords" content="SamTelecom - IPTV Subscription">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>SamTelecom - IPTV Subscription</title>

  <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> -->
  <!--CSS============================================= -->
  <link rel="stylesheet" href="../assets/css/linearicons.css">
  <!-- <link rel="stylesheet" href="../assets/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="../assets/css/jquery.DonutWidget.min.css">
  <link rel="stylesheet" href="../assets/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/owl.carousel.css">
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="stylesheet" href="../assets/css/owl.carousel.css">
  <link rel="stylesheet" href="../assets/css/nice-select.css">
  <link rel="stylesheet" href="../assets/css/magnific-popup.css">
  <link rel="stylesheet" href="../assets/css/collapse.css">
</head>
