<header class="default-header">
  <div class="menutop-wrap">
    <div class="menu-top container">
      <div class="d-flex justify-content-between align-items-center">
        <ul class="list">
          <li><a href="tel:+1 (514) 621-4418">+1 (514) 621-4418</a></li>
          <li><a href="mailto:samtelecom001@gmail.com">samtelecom001@gmail.com</a></li>
        </ul>
        <ul class="list" style="  background-image: -moz-linear-gradient(90deg, #f45622 0%, #f53e54 100%);
                background-image: -webkit-linear-gradient(90deg, #f45622 0%, #f53e54 100%);
                background-image: -ms-linear-gradient(90deg, #f45622 0%, #f53e54 100%);">
          <li><a href="./iptv-subscription" target="_blank">Get Your Free Trial</a></li>
        </ul>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg  navbar-light">
    <div class="container">
      <a class="navbar-brand" href="iptv-home"><img src="../assets/img/samtelecom-full-logo.png" alt="SamTelecom - IPTV Subscription" title = "SamTelecom - IPTV Subscription"
          alt="IPTV Subscription Canada"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li><a href="./iptv-home">Home</a></li>
          <li><a href="./iptv-subscription">Subscription</a></li>
          <!-- <li><a href="./iptv-prices">Prices</a></li> -->
          <li><a href="./iptv-about-subscription">about Subscription</a></li>
          <!-- Dropdown -->
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Services</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="./iptv-amazon-devices">Buy IPTV Device</a>
              <a class="dropdown-item" href="./iptv-configurations">Configurations</a>
              <a class="dropdown-item" href="./iptv-channels">Channels</a>
            </div>
          </li>
          <li><a href="./iptv-contact-us">Contact Us</a></li>

        </ul>
      </div>
    </div>
  </nav>
</header>