<!-- Start Header Area -->
<header class="default-header">
    <div class="menutop-wrap">
        <div class="menu-top container">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="list">
                    <li><a href="tel:+1 (514) 621-4418">+1 (514) 621-4418</a></li>
                    <li><a href="mailto:samtelecom001@gmail.com">samtelecom001@gmail.com</a></li>								
                </ul>
                <ul class="list" style="  background-image: -moz-linear-gradient(90deg, #f45622 0%, #f53e54 100%);
                background-image: -webkit-linear-gradient(90deg, #f45622 0%, #f53e54 100%);
                background-image: -ms-linear-gradient(90deg, #f45622 0%, #f53e54 100%);">
                    <li><a href="./iptvForm.html">Get Your Free Trial</a></li>
                </ul>
            </div>
        </div>					
    </div>				
    <nav class="navbar navbar-expand-lg  navbar-light">
        <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../assets/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./ott-prices">Prices</a></li>
                    <li><a href="./iptv-form">Subscription</a></li>
                    <li><a href="./tutorials.html">Tutorials</a></li>								
                    <li><a href="./channels">Channels</a></li>
                    <li><a href="./contact-us.html">Contact Us</a></li>
                    <!-- Dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="generic.html">Generic</a>
                            <a class="dropdown-item" href="elements.html">Elements</a>
                        </div>
                    </li>									
                </ul>
                </div>						
        </div>
    </nav>
</header>
<!-- End Header Area -->
