<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay-bg overlay"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-6 col-md-12">
        <h1 class="text-uppercase">
          SAM TELECOM - <br>
          IPTV SUBSCRIPTION <br>
        </h1>
        <p class="pb-20 text-white">
          <!-- The website is under maintenance but the <a href="./iptv-subscription.html" style="color:black">subscription
            form</a> works well to get your free trial.
          You can always <a href="./iptv-contact-us.html" style="color:black">contact us</a> for more information. <br>
          We appreciate your visit to SamTelecom wbsite. -->
          Get your favorite shows and channels on any device from any location with a free trial for 24 hours!
        </p>
        <a href="./iptv-subscription" class="primary-btn2 header-btn text-uppercase">Get Your Free Trial</a>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid" src="../assets/img/tv-channels.png" alt="SamTelecom - Channels, movies, TV Shows and VOD in HD&FHD">
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<section class="service-area pt-70 pb-70" id="service" style="background-color: #F9F9FF !important">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Services</h1>
          <p>Our purpose is to help you and to give you the best experience.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <a href="./iptv-amazon-devices" style="color:inherit !important">
          <div class="single-service">
            <span class="lnr lnr-cart"></span>
            <h4 class="pt-60 pb-20">Buy IPTV Device</h4>
            <p>
              Choose the product you need then pay to Amazon. We have the permission to promote Amazon products with "Amazon Associates Program".
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="./iptv-configurations" style="color:inherit !important">
          <div class="single-service">
            <span class="lnr lnr-cog"></span>
            <h4 class="pt-60 pb-20">Devices Configurations</h4>
            <p>
              There are many ways to get IPTV service, herein you will learn the best way to configure your device according to our server.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="./iptv-channels" style="color:inherit !important">
          <div class="single-service">
            <span class="lnr lnr-screen"></span>
            <h4 class="pt-60 pb-20">Channels list</h4>
            <p>
              List of countries with channels featured on our server.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End service Area -->

<!-- Start About Samtelecom Area -->
<section class="service-area pt-70 pb-70">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">About SamTelecom</h1>
          <p>
            SamTelecom is a remote business founded in the city of Montreal and has been growing all across Canada.
            We currently have customers in Montreal, Toronto, Ottawa and other cities.
            Our IPTV service can reach any location in the world through our OTT Premium server which provides
            channels, movies and series in different languages at a reasonable price and an exceptional quality.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->

<!-- Start ottPlan Area -->
<section class="price-area pt-70 pb-70" id="plan">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Choose Your Perfect Plan</h1>
          <p>We start by giving you a free 24 hours subscription to test the quality of our channels before purchase.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="single-price">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>3 Months</h4>
              <p>Canadian Dollars</p>
            </div>
            <div class="top-right">
              <h1>$35</h1>
            </div>
          </div>
          <div class="bottom-sec">
            <p>We configure your device for free and the activation will be done remotely.</p>
          </div>
          <div class="end-sec">
            <ul>
              <li>Over 6000 Channels</li>
              <li>Over 4000 Movies & TV Shows</li>
              <li>HD-FHD & SD Channels</li>
              <li>Support All Devices</li>
              <li>Free Updates</li>
              <li>24/7 support</li>
            </ul>
            <button class="primary-btn price-btn mt-20" onclick="purchaseNow()">Purchase Now<span
                class="lnr lnr-arrow-right"></span></button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-price">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>6 Months</h4>
              <p>Canadian Dollars</p>
            </div>
            <div class="top-right">
              <h1>$60</h1>
            </div>
          </div>
          <div class="bottom-sec">
            <p>We configure your device for free and the activation will be done remotely.</p>
          </div>
          <div class="end-sec">
            <ul>
              <li>Over 6000 Channels</li>
              <li>Over 4000 Movies & TV Shows</li>
              <li>HD-FHD & SD Channels</li>
              <li>Support All Devices</li>
              <li>Free Updates</li>
              <li>24/7 support</li>
            </ul>
            <button class="primary-btn price-btn mt-20" onclick="purchaseNow()">Purchase Now<span
                class="lnr lnr-arrow-right"></span></button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-price">
          <div class="top-sec d-flex justify-content-between">
            <div class="top-left">
              <h4>12 Months</h4>
              <p>Canadian Dollars</p>
            </div>
            <div class="top-right">
              <h1>$100</h1>
            </div>
          </div>
          <div class="bottom-sec">
            <p>We configure your device for free and the activation will be done remotely.</p>
          </div>
          <div class="end-sec">
            <ul>
              <li>Over 6000 Channels</li>
              <li>Over 4000 Movies & TV Shows</li>
              <li>HD-FHD & SD Channels</li>
              <li>Support All Devices</li>
              <li>Free Updates</li>
              <li>24/7 support</li>
            </ul>
            <button class="primary-btn price-btn mt-20" onclick="purchaseNow()">Purchase Now<span
                class="lnr lnr-arrow-right"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End ottPlan Area -->

{% include iptvDevices.html %}