
<!-- Start Align Area -->
<section data-form-type="formoid">
<form action="https://samtelecom.ca/" method="POST" data-form-title="">
    <div class="whole-wrap section-gap"  >
        <div class="container">
            <div class="row">   
                <!-- <div class="row">
                    <div class="col-lg-12 col-md-12"  >
                        <div hidden="hidden" data-form-alert="" class="alert alert-success mt-10">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger"></div>
                    </div>
                </div>  -->
                <div class="col-lg-8 col-md-8">
                    <h3 class="mb-30">Personnal information</h3>
                        <input type="hidden" name="email" data-form-email="true" value="TfbhKf9UW/siCyEtIJlFXhzE1sVWKnzkSb2564QemM5L+SZCq3LJ6WvjQyTE/g/7U3l9/Pkul3/oVCzY86IJ6Z2YYIMQUPdpYvKjJMf4Cuf3kBTCTpvK5EC2E0rMBalR">
                        <div class="mt-10" data-for="firstName">
                            <input id="customerName" type="text" name="firstName" data-form-field="First Name" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required class="single-input">
                        </div>
                        <div class="mt-10" data-for="lastName">
                            <input type="text" name="lastName" data-form-field="Last Name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required class="single-input">
                        </div>
                        <div class="mt-10" data-for="emailAddress">
                            <input type="email" name="emailAddress" data-form-field="Email address" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required class="single-input">
                        </div>
                        <div class="mt-10" data-for="phone">
                            <input type="text" name="phone" data-form-field="Phone" placeholder="Phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" class="single-input">
                        </div>
                        <div class="mt-10" data-for="city">
                            <input type="text" name="city" data-form-field="City" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" required class="single-input">
                        </div>
                        <div class="mt-10" data-for="country">
                            <input type="text" name="country" data-form-field="Country" placeholder="Country" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Country'" required class="single-input">
                        </div>
                        <!-- <div class="input-group-icon mt-10" data-for="subject">
                            <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                            <div class="form-select" id="default-select">
                                <select>
                                    <option value="">Device</option>
                                    <option value="Mag Box">Mag Box</option>
                                    <option value="Android Box">Android Box</option>
                                    <option value="Samsung">Samsung</option>
                                    <option value="LG">LG</option>
                                    <option value="Sony">Sony</option>
                                    <option value="Apple Tv">Apple Tv</option>
                                    <option value="Apple Phone">Apple Phone</option>
                                    <option value="Android Phone">Android Phone</option>
                                    <option value="Fire Stick">Fire Stick</option>
                                    <option value="windows pc">Windows pc</option>
                                </select>
                            </div>
                        </div> -->

                        <div class="mt-10" data-for="message">
                            <textarea class="single-textarea" data-form-field="Message" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'"></textarea>
                        </div>
                </div>

                <div class="col-lg-3 col-md-4 mt-sm-30">
                    <div class="single-element-widget">
                        <h3 class="mb-30">Device</h3>
                        <div class="default-select" id="default-select" data-for="device">
                            <select data-form-field="Device" required>
                                <option value="&nbsp;">&nbsp;</option>
                                <option value="Mag Box">Mag Box</option>
                                <option value="Android Box">Android Box</option>
                                <option value="Samsung">Samsung</option>
                                <option value="LG">LG</option>
                                <option value="Sony">Sony</option>
                                <option value="Apple Tv">Apple Tv</option>
                                <option value="Apple Phone">Apple Phone</option>
                                <option value="Android Phone">Android Phone</option>
                                <option value="Fire Stick">Fire Stick</option>
                                <option value="windows pc">Microsoft Windows</option>
                            </select>
                        </div>
                    </div>
                    <div class="single-element-widget mt-30">
                        <h3 class="mb-30">Subscription Duration</h3>
                        <div class="default-select" id="default-select" data-for="subscriptionDuration">
                            <select data-form-field="Subscription Duration">
                                <option value="24 Hours">24 Hours (Free Test)</option>
                                <option value="3 months">3 months</option>
                                <option value="6 months">6 months</option>
                                <option value="12 months">12 months</option>
                                <option value="24 months">24 months</option>
                            </select>
                        </div>
                    </div>

                    <div class="single-element-widget mt-30">
                        <h3 class="mb-10">MAC Address</h3>
                        
                            <div class="" data-for="macAddress">
                                <label for="macAddress"></label>
                                <input type="text" name="macAddress" data-form-field="MAC Address" placeholder="00 : 1A : 79 : xx : yy : zz" onfocus="this.placeholder = ''" onblur="this.placeholder = '00 : 1A : 79 : xx : yy : zz'" class="single-input">
                            </div>
                            <button class="primary-btn mt-20" type="submit">Submit Form<span class="lnr lnr-arrow-right"></span></button>
                            <div class="alert-msg"></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</section>
<!-- End Align Area -->