<!-- Start price Area -->
<section class="price-area section-gap" id="plan">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Choose the Perfect subscription for you</h1>
                    <p>We always start by giving you free 24 hours to test the quality of our channels before purchasing a subscription.</p>
                </div>
            </div>
        </div>					
        <div class="row">
            <div class="col-lg-4">
                <div class="single-price">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4>3 Months</h4>
                            <p>Canadian Dollar</p>
                        </div>
                        <div class="top-right">
                            <h1>$35</h1>
                        </div>
                    </div>
                    <div class="bottom-sec">
                        <p>We configure your device for free and the activation will be remotely.</p>
                    </div>
                    <div class="end-sec">
                        <ul>
                            <li>Over 6000 Channels</li>
                            <li>Over 4000 Movies & TV Shows</li>
                            <li>HD-FHD & SD Channels</li>
                            <li>Support All Devices</li>
                            <li>Free Updates</li>
                            <li>24/7 support</li>
                        </ul>
                        <button class="primary-btn price-btn mt-20" onclick="purchaseNow()">Purchase Now<span class="lnr lnr-arrow-right"></span></button>
                    </div>								
                </div> 
            </div>
            <div class="col-lg-4">
                <div class="single-price">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4>6 Months</h4>
                            <p>Canadian Dollar</p>
                        </div>
                        <div class="top-right">
                            <h1>$60</h1>
                        </div>
                    </div>
                    <div class="bottom-sec">
                        <p>We configure your device for free and the activation will be remotely.</p>
                    </div>
                    <div class="end-sec">
                        <ul>
                            <li>Over 6000 Channels</li>
                            <li>Over 4000 Movies & TV Shows</li>
                            <li>HD-FHD & SD Channels</li>
                            <li>Support All Devices</li>
                            <li>Free Updates</li>
                            <li>24/7 support</li>
                        </ul>
                        <button class="primary-btn price-btn mt-20" onclick="purchaseNow()">Purchase Now<span class="lnr lnr-arrow-right"></span></button>
                    </div>								
                </div> 
            </div>	
            <div class="col-lg-4">
                <div class="single-price">
                    <div class="top-sec d-flex justify-content-between">
                        <div class="top-left">
                            <h4>12 Months</h4>
                            <p>Canadian Dollar</p>
                        </div>
                        <div class="top-right">
                            <h1>$100</h1>
                        </div>
                    </div>
                    <div class="bottom-sec">
                        <p>We configure your device for free and the activation will be remotely.</p>
                    </div>
                    <div class="end-sec">
                        <ul>
                            <li>Over 6000 Channels</li>
                            <li>Over 4000 Movies & TV Shows</li>
                            <li>HD-FHD & SD Channels</li>
                            <li>Support All Devices</li>
                            <li>Free Updates</li>
                            <li>24/7 support</li>
                        </ul>
                        <button class="primary-btn price-btn mt-20" onclick="purchaseNow()">Purchase Now<span class="lnr lnr-arrow-right"></span></button>
                    </div>								
                </div> 
            </div>							
                                                                            
        </div>
    </div>	
</section>
<!-- End price Area -->
