<section class="mbr-section content4 cid-rrlyCLHGiX" id="content4-19" style="padding-top: 25px !important; padding-bottom: 0px !important;">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Premium OTT Server Price
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    For more detailed information about the length of time you wish to subscribe with us, you can visit our <a href="./subscription-price.html">pricing page</a>.
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="pricing-table1 cid-rrk4hYOIvE" id="pricing-tables1-e" style="padding-top: 0px !important;">
<div class="container">
    <div class="media-container-row">
        <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
            <div class="plan-header text-center pt-5">
                <h3 class="plan-title mbr-fonts-style display-5">Free Trial</h3>
                <div class="plan-price">
                    <span class="price-value mbr-fonts-style display-5">$</span>
                    <span class="price-figure mbr-fonts-style display-1">0</span><br>
                    <small class="price-term mbr-fonts-style display-7">24 hours</small>
                </div>
            </div>
            <div class="plan-body pb-5">
                <div class="plan-list align-center">
                    <ul class="list-group list-group-flush mbr-fonts-style display-7">
                        <li class="list-group-item">One time</li>
                        <li class="list-group-item"> 1 device connected </li>
                    </ul>
                </div>
                <div class="mbr-section-btn text-center pt-4">
                    <a href="./iptv-form.html" class="btn btn-primary display-4">SUBSCRIBE NOW</a>
                </div>
            </div>
        </div>

        <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
            <div class="plan-header text-center pt-5">
                <h3 class="plan-title mbr-fonts-style display-5">Standard</h3>
                <div class="plan-price">
                    <span class="price-value mbr-fonts-style display-5">$</span>
                    <span class="price-figure mbr-fonts-style display-1">35</span><br>
                    <small class="price-term mbr-fonts-style display-7">per 3 months</small>
                </div>
            </div>
            <div class="plan-body pb-5">
                <div class="plan-list align-center">
                    <ul class="list-group list-group-flush mbr-fonts-style display-7">
                        <li class="list-group-item">Yearly charged 100$</li>
                        <li class="list-group-item">1 device connected</li>
                    </ul>
                </div>
                <div class="mbr-section-btn text-center pt-4">
                    <a href="./iptv-form.html" class="btn btn-primary display-4">SUBSCRIBE NOW</a>
                </div>
            </div>
        </div>

        <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
            <div class="plan-header text-center pt-5">
                <h3 class="plan-title mbr-fonts-style display-5">Premium</h3>
                <div class="plan-price">
                    <span class="price-value mbr-fonts-style display-5">$</span>
                    <span class="price-figure mbr-fonts-style display-1">45</span><br>
                    <small class="price-term mbr-fonts-style display-7">per 3 months</small>
                </div>
            </div>
            <div class="plan-body pb-5">
                <div class="plan-list align-center">
                    <ul class="list-group list-group-flush mbr-fonts-style display-7">
                        <li class="list-group-item">Yearly charged 120$</li>
                        <li class="list-group-item">2 devices connected</li>
                    </ul>
                </div>
                <div class="mbr-section-btn text-center pt-4">
                    <a href="./iptv-form.html" class="btn btn-primary display-4">SUBSCRIBE NOW</a>
                </div>
            </div>
        </div>

        <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
            <div class="plan-header text-center pt-5">
                <h3 class="plan-title mbr-fonts-style display-5">Ultimate</h3>
                <div class="plan-price">
                    <span class="price-value mbr-fonts-style display-5">$</span>
                    <span class="price-figure mbr-fonts-style display-1">75</span><br>
                    <small class="price-term mbr-fonts-style display-7">per 3 months</small>
                </div>
            </div>
            <div class="plan-body pb-5">
                <div class="plan-list align-center">
                    <ul class="list-group list-group-flush mbr-fonts-style display-7">
                        <li class="list-group-item">Yearly charged 170$</li>
                        <li class="list-group-item">3 devices connected</li>
                    </ul>
                </div>
                <div class="mbr-section-btn text-center pt-4">
                    <a href="./iptv-form.html" class="btn btn-primary display-4">SUBSCRIBE NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>