<section>
  <div class="whole-wrap section-gap">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-30 col-lg-8">
          <div class="title text-center">
            <h1 class="mb-10">IPTV Subscription Form</h1>
            <p>
              Help us to better understand your request by filling out this form. Our <b>support team</b> will give
              you the best assistance once they contact you.<br>
              You can also visit our <a href="./iptv-about-subscription" target="_blank">About Subscription page</a> for
              information on how to subscribe.<br>
              We recommend you to check out the <a href="./iptv-configurations" target="_blank">configurations page</a>to know how to configure your device.
            </p>
          </div>
        </div>
      </div>
      <form action="https://formspree.io/samtelecom001@gmail.com" method="POST">
        <div class="row">
          <div class="col-lg-7 col-md-7">
            <h3 class="mb-30">Personal information</h3>
            <div class="mt-10" data-for="firstName">
              <input id="customerName" type="text" name="firstName"
                placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'"
                required class="single-input">
            </div>
            <div class="mt-10" data-for="lastName">
              <input type="text" name="lastName" placeholder="Last Name"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required class="single-input">
            </div>
            <div class="mt-10" data-for="emailAddress">
              <input type="email" name="emailAddress" placeholder="Email address"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required
                class="single-input">
            </div>
            <!-- <div class="mt-10" data-for="phone">
              <input type="text" name="phone" placeholder="Phone"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" class="single-input">
            </div> -->
            <div class="mt-10" data-for="country">
              <input type="text" name="country" placeholder="Country" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Country'" required class="single-input">
            </div>
            <div class="mt-10" data-for="city">
              <input type="text" name="city" placeholder="City" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'City'" required class="single-input">
            </div>
            <div class="input-group-icon mt-10 mb-30">
              <div class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
              <div class="form-select" id="default-select" data-for="preferredLanguage">
                <select name="language">
                  <option value="">preferred communication language</option>
                  <option value="English">English</option>
                  <option value="French">French</option>
                </select>
              </div>
            </div>
            <div class="input-group-icon mt-10 mb-30">
              <div class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
              <div class="form-select" id="default-select" data-for="hearAboutUs">
                <select class="hearAboutUs" name="Hear-About-Us">
                  <option value="">How did you hear about us?</option>
                  <option value="Google Search">Google Search</option>
                  <option value="Friends">Friends</option>
                  <option value="Kijiji">Kijiji</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>
            <!-- <div class="Hear-About-Us-Other">
              <div data-for="hearAboutUsOther">
                <input type="text" name="Hear-About-Us-Other" ="Hear-About-Us-Other" class="single-input">
              </div>
            </div> -->
            <div class="mt-10" data-for="message">
              <textarea class="single-textarea" placeholder="Message"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'"></textarea>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 mt-sm-30">
            <div class="single-element-widget">
              <h3 class="mb-30">Subscription Period</h3>
              <div class="default-select" id="default-select" data-for="subscriptionPeriod">
                <select name="Subscription Period">
                  <option value="24 Hours">24 Hours (Free Test)</option>
                  <option value="1 months">1 month</option>
                  <option value="3 months">3 months</option>
                </select>
              </div>
            </div>
            <div class="single-element-widget mt-30">
              <h3 class="mb-30">Device <span style="color: red; font-size:12px"> (Obligatory)</span></h3>
              <div class="default-select" id="default-select" data-for="device">
                <select class="device" name="Device">
                  <option value="">Choose a device..</option>
                  {% for device in site.data.Devices.Types %}
                    <option value="{{ device }}"> {{ device }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div id="mac-m3u" class="single-element-widget mt-30"></div>
            <div class="single-element-widget mt-30">
              <h3 class="mb-30 mt-30">Payment Method <span><a href="./iptv-about-subscription" target="_blank"><i
                style="color : black; " class="fa fa-info-circle" title="About payment method"></i></a></span></h3>
              <div class="input-group-icon mt-10 mb-30">
                <div class="default-select" id="default-select" data-for="paymentMethod">
                  <select name="Payment Method">
                    <option value="">Choose a method..</option>
                    <option value="Interac e-Transfer">Interac e-Transfer</option>
                    <option value="PayPayl">PayPal</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7 col-md-7">
            <div class="single-element-widget">
                <div hidden="hidden" data-form-alert="" class="alert alert-success mt-10">Form submitted successfully. Thank
                    you! We will contact you within 24 hours!</div>
                  <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger">Form submitted failed!</div>
              <button class="primary-btn mt-20" type="submit">Submit Form<span
                  class="lnr lnr-arrow-right"></span></button>
              <div class="alert-msg"></div>

            </div>
        </div>

      </form>
    </div>
  </div>
</section>