<section class="contact-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-30 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">IPTV - Tutorials</h1>
          <p>There are always many ways to get IPTV service on your device, but in this tutorial we will show you the
            best way to configure your device according to our server.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <button class="collapsible">Android Box</button>
        <div class="content">
          <h3 class="mb-15 mt-15">OTT IPTV STB Application</h3>
          <p>
            It's a preconfigured application. It was designed only for our server.
            <ol class="ordered-list">
              <li><span>Download the application on your android box.</span>
                <ol class="ordered-list-alpha">
                  <li><span>Copy this link: http://up.magnum.la/Android/IPTV-OTT-STALKER-V6.apk </span></li>
                  <li><span>Paste it into a browser in your android box device. (Google Chrome Recommended)</span>
                  <li><span>Press OK. (The application will be downloaded automatically)</span>
                </ol>
              <li><span>Open the application.</span></li>
              <ol class="ordered-list-alpha">
                <li><span>Send to our support team the <a href="./iptv-about-subscription">"MAC Address"</a> displayed
                    on the screen via our <a href="./iptv-subscription.html">subscription form</a>.</span></li>
              </ol>
              </li>
              <li><span>Wait the response of our support team in 24 hours.</span></li>
              <li><span>Reboot the android box.</span></li>
            </ol>
          </p>
        </div>
        <button class="collapsible">Fire Stick</button>
        <div class="content">
          <h3 class="mb-15 mt-15">OTT IPTV STB Application</h3>
          <p>
            It's a preconfigured application. It was designed only for our server.
            <ol class="ordered-list">
              <li><span>Download the application on your fire stick.</span>
                <ol class="ordered-list-alpha">
                  <li><span>Copy this link: http://up.magnum.la/Android/IPTV-OTT-STALKER-V6.apk </span></li>
                  <li><span>Paste it into the "Downloader" application existed in fire stick store.</span>
                  <li><span>Press OK. (The application will be downloaded automatically)</span>
                </ol>
              <li><span>Open the application.</span></li>
              <ol class="ordered-list-alpha">
                <li><span>Send to our support team the <a href="./iptv-about-subscription">"MAC Address"</a> displayed
                    on the screen via our <a href="./iptv-subscription.html">subscription form</a>.</span></li>
              </ol>
              </li>
              <li><span>Our support team will contact you in 24 hours to tell you that the service is active.</span>
              </li>
              <li><span>Reboot the machine.</span></li>
            </ol>
          </p>
        </div>
        <button class="collapsible">Mag Box</button>
        <div class="content">
          <p>
            <ol class="ordered-list">
              <li><span>Send to our support team the <a href="./iptv-about-subscription">"MAC Address"</a> of your MAG
                  BOX via our <a href="./iptv-subscription.html">subscription form</a>.</span></li>
              <li><span>Our support team will contact you in 24 hours to send you the information you need.</span></li>
              <li><span>Reboot the Mag Box.</span></li>
            </ol>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <button class="collapsible">PC Windows</button>
        <div class="content">
          <h3 class="mb-15 mt-15">VLC Media Player</h3>
          <p>
            It's a media palyer software that works in streaming line with a m3u URL.
            <ol class="ordered-list">
              <li><span>Go to our <a href="./iptv-subscription.html">subscription form</a>, fill out the form and turn
                  on the m3u URL in streaming line option then submit the form.</span>
              <li><span>Our support team will contact you in 24 hours to send you the m3u URL and the information you
                  need.</span>
              <li><span>Download VLC media player on your windows device.</span>
              <li><span>Open the software.</span></li>
              <ol class="ordered-list-alpha">
                <li><span>Click on Media in top left corner.</span></li>
                <li><span>Click on "Stream".</span></li>
                <li><span>Click on "Network".</span></li>
                <li><span>Add the <a href="iptv-about-subscription.html">m3u URL</a>.</span></li>
                <li><span>Click on "Play".</span></li>
              </ol>
              </li>
            </ol>
          </p>
        </div>
        <button class="collapsible">All Apple Devices</button>
        <div class="content">
          <h3 class="mb-15 mt-15">GSE SMART IPTV</h3>
          <p>
            It's an application in App Store that works in streaming line with a m3u URL.
            <ol class="ordered-list">
              <li><span>Go to our <a href="./iptv-subscription.html">subscription form</a>, fill out the form and turn
                  on the m3u URL in streaming line option then submit the form.</span>
              <li><span>Our support team will contact you in 24 hours to send you the m3u URL and the information you
                  need.</span>
              <li><span>Download the application from App store.</span>
              <li><span>Open the application.</span></li>
              <ol class="ordered-list-alpha">
                <li><span>Click on "three lines button" in top left corner.</span></li>
                <li><span>Click on "Remote Playlists".</span></li>
                <li><span>Click on "plus button" in top right corner.</span></li>
                <li><span>Click on "Add <a href="iptv-about-subscription.html">m3u URL</a>".</span></li>
                <li><span>Add a playlist name and the m3u URL then submit.</span></li>
              </ol>
              </li>
            </ol>
          </p>
        </div>
        <button class="collapsible">Android Phone or Tablet</button>
        <div class="content">
          <h3 class="mb-15 mt-15">IPTV - Smarters Pro</h3>
          <p>
            It's an application in Play Store that works in streaming line with a m3u URL.
            <ol class="ordered-list">
              <li><span>Go to our <a href="./iptv-subscription.html">subscription form</a>, fill out the form and turn
                  on the m3u URL in streaming line option then submit the form.</span>
              <li><span>Our support team will contact you in 24 hours to send you the m3u URL and the information you
                  need.</span>
              <li><span>Download the application from play store.</span>
              <li><span>Open the application.</span></li>
              <ol class="ordered-list-alpha">
                <li><span>Choose "Load Your Playlist or File/URL"</span></li>
                <li><span>Add the "<a href="iptv-about-subscription.html">m3u URL</a>" then submit.</span></li>
              </ol>
              </li>
            </ol>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>